body{
    background-color: #383838;
    .conteudo{
        width: 50%;
        margin: 300px;
        input{
            margin-bottom: 10px;
        }
        button{
            margin-top: 10px;
        }
    }
}